<%= @hint  %>
<%= form_for :basic do |f| %>
	<p>
		员工编号: <%= f.text_field :emp_number  %>
	</p>

	<p>
		密码: <%= f.password_field :password  %>
	</p>

	<p>
	<%= f.submit "登录" %>
	<%= check_box_tag(:remember)  %>
	<%= label_tag(:remember, "记住用户名")  %>
	</p>

	<p>
		<%= f.select(:identity, [['普通员工', 1], ['管理员', 2]])  %>
	</p>
<% end %>
