<%= link_to content_tag(:span, "添加员工档案"),"/managements/adddoc",{:class=>'ance'} %>
<br >
<table class="tb">
  <tr>
    <th>员工号码</th>
    <th>姓名</th>
    <th>性别</th>
    <th>操作</th>
  </tr>
  <% @emp.each do |employee| %>
    <div style="display:none"><%= @empid=employee.id %></div>
    <tr>
      <td><%= employee.emp_number %></td>
      <td><%= employee.emo_name %></td>
      <td>
        <% if employee.emp_sex == '1' %>
        男
        <%  elsif employee.emp_sex == '2' %>
        女
        <% end %>
      </td>
      <td>
        <%= link_to "详情", {:controller=>'managements', :action=>'showdoc', :eid=>@empid}%>
         <%= link_to "删除", {:controller=>'managements', :action=>'deletedoc', :eid=>@empid}, data: { confirm: '确定删除吗?' }%>
        <%= link_to "修改", {:controller=>'managements', :action=>'editdoc', :eid=>@empid}%>
      </td>
    </tr>
  <% end %>
</table>
<div id="tips"><h3><%= @tips %></h3></div>

