<div class="form">
  <div>
    <%= form_for :ance, url: '/managements/createance' do |f| %>
      <p>
        公告标题: <%= f.text_field :tittle, size: "49x1"  %>
      </p>

      <p>
        发布人: <%= f.text_field :author, size: "49x1"  %>
      </p>

      <p>
        内容: <%= f.text_area :post,  size: "40x20" %>
      </p>

     <p id="login_btn">
       <%= f.submit "提交", data: { confirm: '确定提交吗?' } %>
      </p>
    <% end %>
  </div>
 </div>
