<div class="form">
  <div>
    <%= form_for :lag, url: '/managements/updatelag' do |f| %>
      <p style="display:none">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= f.text_field :id, :value=>@lag.id %>
      <p>
        工资发放日期: <%= f.date_field :pay_month, :value=>@lag.pay_month.to_time.strftime('%Y-%m-%d') %>
      </p>

      <p>
        员工姓名: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :emp_name, :value=>@lag.emp_name %>
      </p>

      <p>
        员工号码: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :emp_number, :value=>@lag.emp_number %>
      </p>

      <p>
        基本工资: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :pay_basic, :value=>@lag.pay_basic %>
      </p>

      <p>
        奖金: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :pay_prize, :value=>@lag.pay_prize %>
      </p>

      <p>
        加班费: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.telephone_field :pay_overtime, :value=>@lag.pay_overtime %>
      </p>

      <p>
        应扣金额: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :pay_recoup, :value=>@lag.pay_recoup %>
      </p>

      <p>
        应付金额: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :pay_payable, :value=>@lag.pay_payable %>
      </p>

      <p>
        实付金额: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= f.text_field :pay_paymoney, :value=>@lag.pay_paymoney %>
      </p>

     <p id="login_btn">
       <%= f.submit "提交修改", data: { confirm: '确定提交修改吗?' } %>
      </p>
    <% end %>
  </div>
 </div>